<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>SayAll</string>
    <key>CFBundleExecutable</key>
    <string>RemoteMic</string>
    <key>CFBundleIdentifier</key>
	<string>com.hd838a.RemoteMic</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>SayAll</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.8</string>
	<key>CFBundleVersion</key>
	<string>131</string>
    <key>LSMinimumSystemVersion</key>
	<string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Connect to supported physical remote controls to receive button and voice data.</string>
    <key>NSHumanReadableCopyright</key>
    <string>GPL-3.0-only</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
